.adminprofile {
  .avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .btn-cancel {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 1px solid #b42e2e;
    font-size: 18px;
    background: #b42e2e;
    color: #fff;
  }

  .btn-cancel:hover {
    background: #fff;
    color: #000;
    border: 2px solid black;
    transition: all 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.package-owner {
  .package-header {
    .h2-package-user-owner {
      font-size: 30px;
      line-height: 32px;
      font-weight: 600;
      letter-spacing: -0.2px;
      color: #298b90;
      margin-bottom: 5px;
    }

    .p-package-user-owner {
      margin-bottom: 24px;
      max-width: 695px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: rgb(80, 80, 80);
    }
  }

  .package-body {
    .package-body-item {
      width: 250px;
      padding: 16px 24px;
      border: 1px solid rgb(242, 242, 242);
      box-shadow: rgba(44, 44, 44, 0.04) 0px 4px 6px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);

      .package-body-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;

        .package-body-name {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin-bottom: 8px;
          color: #298b90;

          .package-body-name-h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            letter-spacing: -0.2px;
            color: #298b90;
            margin-bottom: 0;
          }
        }

        .package-body-room {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin-bottom: 8px;

          p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: rgb(44, 44, 44);
            margin-bottom: 0;
            margin-left: 0.5rem;
          }
        }

        .package-body-price {
          h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            letter-spacing: -0.2px;
            color: rgb(44, 44, 44);
          }
        }

        .package-body-time {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: rgb(80, 80, 80);
        }
      }

      .package-gach {
        height: 1px;
        background-color: rgb(242, 242, 242);
        margin: 15px -22px;
      }

      .package-body-footer {
        p {
          font-size: 15px;
          line-height: 16px;
          font-weight: 400;
          color: rgb(80, 80, 80);
          text-align: justify;
        }
      }
    }

    @media (max-width: 576px) {
      .package-body-item {
        width: auto;
      }
    }
  }
}

.package-name {
  background-color: #298b90;
  color: #fff;
}