.ticket-form{
    .file-input {
        height: 9vw;
        width: 9vw;
        &__label{
            border: 1px dashed red;
        }
        &__img{
            object-fit: cover;
            border: 1px solid red;
        }
    }
}